<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>505356596324-t51s519vn1oaj42e6l5t29br1vc3spgg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.505356596324-t51s519vn1oaj42e6l5t29br1vc3spgg</string>
	<key>API_KEY</key>
	<string>AIzaSyCy7vMILCHST-5uaJ6jRaCfh5MY2mqiz1g</string>
	<key>GCM_SENDER_ID</key>
	<string>505356596324</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chineseStudyApplicaion</string>
	<key>PROJECT_ID</key>
	<string>chinese-study-application</string>
	<key>STORAGE_BUCKET</key>
	<string>chinese-study-application.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:505356596324:ios:e42c261a70497619f69b71</string>
</dict>
</plist>